/* .heading{
    display: flex;  
    border: 1px solid red; 
    padding: 1rem;
    box-shadow: 0 0 0 10px hsl(rgb(168, 80, 80));
}
.heading > img{
    margin-left: 10rem;
}
.list-item{
   display: flex;
   align-items: center;
   gap:60px;
   margin-left: 40rem;
} */